*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* inherit from body */
  box-sizing: inherit;
}

.html {
  /*
  font-size: 10px;
  to percent is 10/16 = 62.5
  */
  font-size: 62.5%;
}

.body {
  box-sizing: border-box;
}
